<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Journal RSS Feeds{% endblock %}</title>

    <link rel="stylesheet" href="/static/css/style.css"/>

    {% block additional_css %}{% endblock %}
</head>
<body>
<div class="container">
<div class="main">
    {% block main_content %}{% endblock %}
</div>

<footer>
    <p class="source">
          A <a href="https://github.com/sneakers-the-rat/journal-rss" target="_blank">journal-rss</a> instance <3
    </p>
</footer>
</div>

<script src="/static/js/htmx.min.js?v=1.9.10"></script>

{% block additional_js %}{% endblock %}

</body>
</html>