<!DOCTYPE html>
<html lang="en">
    {% include "includes/head.html" %}
    <body>
        {% include "includes/header.html" %}
        <div class="container">
            <div class="main">
                <h2>1. Browse journals</h2>
                <div class="box">
                    {% include "includes/section-search.html" %}
                </div>

                <h2>2. View and customise feeds</h2>
                <div class="container">
                    <!-- Table for viewing selections -->
                </div>
                
                <h2>3. Download feeds</h2>
                <div class="container">
                    <center>
                        {% include "partials/test-button.html" %}
                    </center>
                </div>
            </div>
        </div>
        {% include "includes/footer.html" %}
        {% include "includes/footer-js.html" %}
    </body>
</html>