/* Header - Start */
.header_section {
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(to right, rgb(0, 62, 124) , rgb(0, 105, 211));
    color: white;
}

.header_section .h1 {
    font-size: 2.5vw;
}

.header_section .p {
    font-size: 1.8vw;
}
/* Header - End */